<div id="dl-menu" class="btn-toolbar">
    <span>
        <a id="pvDownloadFull" 
        class="btn btn-light btn-outline-primary mr-1" 
        download="<%= @prefix %>.<%= @documentId %>.pdf" 
        href="/access-files/69429/<%= @prefix %>.<%= @documentId %>.pdf"
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        title="Download Searchable PDF (Contains all Images)" 
        data-original-title="Download Searchable PDF (Contains all Images)">
            <img src="/download.png" alt="Download Icon" height="24">
            Download Searchable PDF (2.4M)
            <span class="visually-hidden">Downloading the searchable PDF is the recommended mode of access for people using assistive technologies.</span>
        </a>
    </span> 
</div>