<div data-controller="iiif_viewer" data-docid="<%= @prefix %>.<%= @documentId %>">
    <div class="uv" id="page-viewer" style="margin-bottom: 1rem; width: 75vw; height: 50rem; position: relative;"></div>
</div>