<div data-controller="iiif_viewer" data-docid="<%= @documentId %>">

    <!--div id="pv-images-info" class="text-aligned">
        <span data-toggle="tooltip" data-placement="right" title="" data-original-title="Canadiana uses OCR (optical character recognition) to provide full-text search for printed documents.">
        </span>
        <img class="pv-help-icon" src="/info.png" width="18" height="18" class="" alt=""/>
        <span>57 images, 55 with full-text search</span>
    </div-->

    <div class="mv" data-docid="<%= @documentId %>" id="page-viewer" style="overflow: hidden; width: 100%; min-width: 936px !important; min-height: 46rem !important; height: 60vh; position: relative;"></div>
</div>

