<div data-controller="iiif_viewer" data-docid="<%= @prefix %>.<%= @documentId %>">
    <div id="pvToolbarTop">
        <form class="DocSearch-Form">
            <label class="DocSearch-MagnifierLabel" for="docsearch-input" id="docsearch-label">
                <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                    <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </label>
            
            <input 
            id="pvSearch" 
            class="DocSearch-Input" 
            aria-autocomplete="both" 
            aria-labelledby="docsearch-label" 
            id="docsearch-input" 
            autocomplete="off" 
            autocorrect="off" 
            autocapitalize="off" 
            enterkeyhint="search" 
            spellcheck="false" 
            autofocus="true" 
            placeholder="Search item"
            type="search"/>

        </form>

        <!--TODO: Search:
        http://tokaji.tor.c7a.ca:8983/solr/cosearch2/select?q=tx:honour%20AND%20pkey:oocihm.84056&wt=json&indent=true -->

        <div class="pvSearchResults">
            <p>Results for 'search':</p>
            <a class="pvSearchResult">
                Page 1
            </a>
            <a class="pvSearchResult">
                Page 2
            </a>
        </div>
    </div>
    <div class="uv" id="page-viewer" style="overflow: hidden; width: 100%; height: 50rem; position: relative;"></div>

    <nav id="pvToolbarBottom" aria-label="Viewer controls" class="btn-toolbar">
        <span data-toggle="tooltip" title="" data-original-title="Open full-size image in new tab">
            <a id="pvFullImage" data-seq="1" data-slug="oocihm.84056" data-url="" class="btn btn-light btn-outline-primary mr-1 my-1" data-container="#pvPane" href="https://image-tor.canadiana.ca/iiif/2/69429%2Fc0dn3zv0nx2t/full/max/0/default.jpg" target="_blank">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"></path>
                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"></path>
                </svg>
                
                <!--span class="sr-only">Open full-size image in new tab</span-->
            </a>
        </span>
    

        <!-- TODO: download on press --> 
        <span data-toggle="tooltip" title="" data-original-title="Download full-size image in JPG format">

            <a id="pvFullImageDownload" data-seq="1" data-slug="oocihm.84056" data-url="" class="btn btn-light btn-outline-primary mr-1 my-1" data-container="#pvPane" href="https://image-tor.canadiana.ca/iiif/2/69429%2Fc0dn3zv0nx2t/full/max/0/default.jpg">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-filetype-jpg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5Zm-4.34 8.132c.076.153.123.317.14.492h-.776a.797.797 0 0 0-.097-.249.689.689 0 0 0-.17-.19.707.707 0 0 0-.237-.126.96.96 0 0 0-.299-.044c-.285 0-.507.1-.665.302-.156.201-.234.484-.234.85v.498c0 .234.032.439.097.615a.881.881 0 0 0 .304.413.87.87 0 0 0 .519.146.967.967 0 0 0 .457-.096.67.67 0 0 0 .272-.264c.06-.11.091-.23.091-.363v-.255H8.24v-.59h1.576v.798c0 .193-.032.377-.097.55a1.29 1.29 0 0 1-.293.458 1.37 1.37 0 0 1-.495.313c-.197.074-.43.111-.697.111a1.98 1.98 0 0 1-.753-.132 1.447 1.447 0 0 1-.533-.377 1.58 1.58 0 0 1-.32-.58 2.482 2.482 0 0 1-.105-.745v-.506c0-.362.066-.678.2-.95.134-.271.328-.482.582-.633.256-.152.565-.228.926-.228.238 0 .45.033.636.1.187.066.347.158.48.275.133.117.238.253.314.407ZM0 14.786c0 .164.027.319.082.465.055.147.136.277.243.39.11.113.245.202.407.267.164.062.354.093.569.093.42 0 .748-.115.984-.345.238-.23.358-.566.358-1.005v-2.725h-.791v2.745c0 .202-.046.357-.138.466-.092.11-.233.164-.422.164a.499.499 0 0 1-.454-.246.577.577 0 0 1-.073-.27H0Zm4.92-2.86H3.322v4h.791v-1.343h.803c.287 0 .531-.057.732-.172.203-.118.358-.276.463-.475.108-.201.161-.427.161-.677 0-.25-.052-.475-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.546 1.333a.795.795 0 0 1-.085.381.574.574 0 0 1-.238.24.794.794 0 0 1-.375.082H4.11v-1.406h.66c.218 0 .389.06.512.182.123.12.185.295.185.521Z"></path>
                </svg>
            
            
                <!--span class="sr-only">Download PDF (single image)</span-->
            </a>
        </span>
    
        <!-- TODO: USE api to download --> 
        <span data-toggle="tooltip" title="" data-original-title="Download PDF (single image)">
            <a id="pvDownloadSingle" data-seq="1" data-slug="oocihm.84056" data-url="" class="btn btn-light btn-outline-primary mr-1 my-1" data-container="#pvPane" href="https://swift.canadiana.ca/v1/AUTH_crkn/access-files/69429/c0dn3zv0nx2t.pdf">
                
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"></path>
                </svg>
            
            
                <!--span class="sr-only">Download PDF (single image)</span-->
            </a>
        </span>
    
        <!-- TODO: USE api to download --> 
        <span data-toggle="tooltip" title="" data-original-title="Download PDF (full document)">
            <a id="pvDownloadFull" data-seq="1" data-slug="oocihm.84056" data-url="" class="btn btn-light btn-outline-primary mr-1 my-1" data-container="#pvPane" href="https://swift.canadiana.ca/v1/AUTH_crkn/preservation-cihm-aip/oocihm.84056/data/sip/data/files/oocihm.84056.pdf">
                
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 6.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V6.5h-2A1.5 1.5 0 0 1 9.5 5V3H4a1 1 0 0 0-1 1v7H2V4c0-1.105.9-1.9 2-2h5.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"></path>
                <path fill-rule="evenodd" d="M8.5 1H4C2.502 1 1 2.504 1 4v7H0V4c0-2 2-4 4-4h3.5z"></path>
                </svg>

                (2.4M) 
            
                <!--span class="sr-only">Download PDF (full document)</span-->
            </a>
        </span> 
    </nav>
</div>