<footer class="mt-auto bg-dark text-white">
    <div class="container-lg">
        <div class="row py-3 small">
            <p class="col-lg text-center text-lg-left">
            <a href="http://www.canadiana.ca/?usrlang=en">
                <img src="/canadiana-logo-inverted.svg" alt="Canadiana" height="50">
            </a>
            </p>
            <p class="col-lg-5 text-center">
            <a href="http://www.canadiana.ca/terms">Terms of Service</a>
            <br>
            © 2023 Canadian Research Knowledge Network
            <a href="https://www.crkn-rcdr.ca/en/contact-us">
                <img src="/phone.svg" alt="Contact Us">
            </a>
            </p>
            <p class="col-lg text-center text-lg-right">
            <a href="https://www.crkn-rcdr.ca/en" class="d-inline-block">
                <img src="/crkn-logo-inverted.svg" alt="Canadian Research Knowledge Network" height="50">
            </a>
            <a href="https://www.cndhi-ipnpc.ca/en" class="d-inline-block ml-3">
                <img src="/cndhi-logo-inverted.svg" alt="CNDHI: Canadian National Digital Heritage Index" height="50">
            </a>
            </p>
        </div>
    </div>
</footer>