<div class="">
<%= render partial: 'shared/header_navbar' %>
</div>
<div class="jumbotron text-center p-5 mb-4 bg-light rounded-3">
    <h1 class="jumbotron-heading"><%= t('blacklight.welcome') %></h1>
    <p class="lead">This is a testing environment using Blacklight v.8 for <a href="https://parl.canadiana.ca" target="_blank">parl.canadiana.ca</a>.</p>
</div>
<div id="getting-started">
    <%= render(Blacklight::SearchBarComponent.new(
        url: '/catalog',
        params: search_state.params_for_search.except(:qt))) %>
</div>