<div class="floatnav">
<%= render partial: 'shared/header_navbar' %>
</div>

<div class="carousel slide home-main-images ">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/oocihm.8_06251_308@20.jpg" alt="..." class="banner-img">
            <div class="carousel-caption d-none d-md-block">
                <span>The Canadian magazine : Vol. 51, no. 6 (Oct. 1918)</span>
            </div>
        </div>
    </div>
</div>
<br/>

<div class="home-search-wrap">
    <div class="home-search">
        <!--h2>Search the Canadiana Collection</h2-->
        <%= render(Blacklight::SearchBarComponent.new(
            url: '/catalog',
            params: search_state.params_for_search.except(:qt))) %>
    </div>
</div>

<br/>
<div class="row justify-content-start home-cards">
    <h2>Explore the Canadiana Collections</h2>
</div>
<div class="row justify-content-start home-cards">
    <div class="col">
        <div class="card">
        <h5 class="card-header">Monographs</h5>
            <img src="images/monog.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <!--h5 class="card-title">Card title</h5-->
                <p class="card-text">
                    The Monographs collection, spanning three and a half centuries of Canadian documentary history, holds rich primary materials exploring a wide range of subjects and disciplines. 
                </p>
            </div>
            <!--ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            </ul-->
            <div class="card-body">
                <!--a href="/#" class="card-link">Read more</a-->
                <a href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=Monographs+%7C+Monographies" class="card-link">Browse collection</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">Serials: Periodicals, Annuals and Newspapers</h5>
            <img src="images/serials.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    The Serials collection includes a wide range of dailies, weeklies, specialized journals and mass-market magazines, as well as city directories and annual reports from churches, schools, and corporations. 
                </p>
            </div>
            <div class="card-body">
                <!--a href="#" class="card-link">Read more</a-->
                <a href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=Serials+%7C+Publications+en+série" class="card-link">Browse collection</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">Government Publications</h5>
            <img src="images/govpubs.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    The Government Publications collection includes over 1.7 million pages of historical pre-1920 colonial, provincial and federal government documents.
                </p>
            </div>
            <div class="card-body">
                <!--a href="#" class="card-link">Read more</a-->
                <a href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=Government+Documents+%7C+Publications+Gouvernementales" class="card-link">Browse collection</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">Maps</h5>
            <img src="images/maps.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    The Maps collection currently contains nearly 22,000 Canadian maps digitized from the 1:50,000 scale National Topographic Series. The maps date from 1905 to 2012 and cover all of the Canadian provinces and territories.
                </p>
            </div>
            <div class="card-body">
                <!--a href="#" class="card-link">Read more</a-->
                <a href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=Maps" class="card-link">Browse collection</a>
            </div>
        </div>
    </div>
</div>
<br/>

<div class="container-fluid home-cards">
    <h2>Statement on problematic content and descriptions in Canadiana</h2>
    <p>
        The Canadiana Collections contain content created over five centuries that tell an incomplete, oftentimes distorted and, sometimes harmful, story of Canada. The content, metadata, and resource descriptions in the Canadiana Collections contain language that reflects the biases, norms, and perspectives of the time in which they were created. This includes harmful and offensive wording, cultural references, and stereotypes. In order to accurately reflect the attitudes and viewpoints of the time in which these historical records were created, objects in the Canadiana collections are unchanged. In recognition of the harmful or painful impact of language and images, CRKN staff are actively committed to:
    </p>
    <ul>
        <li>support and actively participate in efforts to update and change international standards for descriptions to ensure that descriptions are inclusive, respectful, and do not cause harm</li>
        <li>replace inappropriate language in the metadata and resource descriptions introduced during legacy cataloguing practices</li>
    </ul>
    <p>
        This is an ongoing process. If you see records with inappropriate language or content that you think CRKN should review, please fill out our <a href="https://www.crkn-rcdr.ca/sites/crkn/files/2021-09/Final%20-%20Review%20Request%20Process%20for%20the%20Canadiana%20Collection%20-%20EN.pdf" target="_blank">Review Submission Form.</a>
    </p>
</div>