<div class="jumbotron text-center p-5 mb-4 bg-light rounded-3">
  <h1 class="jumbotron-heading"><%= t('blacklight.welcome') %></h1>
  <p class="lead">This is a testing environment using Blacklight v.8 for <a href="https://parl.canadiana.ca" target="_blank">parl.canadiana.ca</a>.</p>
</div>

<div id="getting-started">
</div>
