@font-face {
    font-family: Roboto;
    src: url('/fonts/Roboto-Regular.ttf');
}
$blue: #0d6efd;
$cyan: #155e66;
$primary: $cyan;
$info: $blue;
$font-size-base: 1rem !default;
$font-family-sans-serif: "Roboto",sans-serif;
$h5-font-size: $font-size-base * 1.1;
$h4-font-size: $font-size-base * 1.15;
$h3-font-size: $font-size-base * 1.2;
$h2-font-size: $font-size-base * 1.35;
$h1-font-size: $font-size-base * 1.8;