/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-template-areas: "main" "footer";
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 8rem; */
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
.dl-invert dt {
    text-align: left !important
}
.document-tools-btn {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:1rem;
    z-index: 11;
    text-align: right;
}
.text-lg-right {
    text-align: right !important;
}
.mosaic-window-body{
    border: 1px solid #dbdbdb;
    border-top: none;
}
.MuiToolbar-root {
    border-bottom: 1px solid #dbdbdb;
}
.MuiPaper-elevation4 {
    box-shadow: none !important;
}
.mirador4 .mosaic-tile {
    box-shadow: none !important;
}
.MuiToolbar-dense {
    border-top: none !important;
    border-bottom: none !important;
}
.MuiPaper-elevation1 {
    box-shadow: none !important;
}
.mosaic-tile {
    margin: 0 !important;
}
.mosaic-root {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}
.MuiToolbar-root > .MuiTypography-root {
    visibility: hidden;
}
.mirador-companion-window-header > h3, .mirador-companion-window-header > button {
    display: none;
}
button[aria-label="Toggle sidebar"] {
    display: none;  
}
.mosaic-window-body > section > div:nth-child(1) {
    display: inline;
    width: 100%;
    position: absolute;
    background: white;
    height: 50px;
    right: 0;
    padding: 0;
    top: 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb !important;
    z-index: 50;
}
.mosaic-window-body > section > div:nth-child(1) button { 
    padding: 11px !important;
}
.mirador-thumb-navigation {
    border-left: 1px solid #dbdbdb !important;
    border-top: 1px solid #dbdbdb !important;
    background-color: #ffffff !important;
}
.openseadragon-canvas {
    top: 50px !important;
}
.mirador-osd-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mirador-canvas-nav { 
    height: 3rem !important;
    min-height: 50px !important;
    background: #ffffff !important;
    top: 0px !important;
    border: 1px solid #dbdbdb !important;
    border-left: none !important;
    border-right: none !important;
    width: fit-content !important;
    background-color: transparent !important;
    left: 40% !important;
    z-index: 9000000 !important;
}
.mirador39 { /* side panel toggle button */
    margin-top: 1px !important;
}
.mirador6 {/* canvas thumbnail list */
    height: 94% !important;
    align-self: flex-end !important;
}
.mirador41 { /*side panel item wrapper */
    border-bottom: none !important;
}
.mirador78 { /*side nav item header */
    display: inline-flex !important;
    height: 20px !important;
    margin-bottom: 1rem !important;
}
.mirador92, .mirador92 button { /*zoom buttons*/
    z-index: 9000000000 !important;
}
.MuiDrawer-paperAnchorDockedLeft { /* left-sidemost navbar */
    display: none !important;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background-color: rgb(151 151 151 / 8%) !important
}
.MuiIconButton-root {
    color: black !important;
}
.mirador-canvas-nav+div { /*image tools*/
    top: 56px !important;
}
.MuiTypography-subtitle2 {
    font-size: 1rem !important;
}
.openseadragon-canvas+div{
    left: 15px !important;
    top: 65px !important;
}
#page-viewer {
    background: white;
}
#pvToolbarTop {
    background: white;
    padding: 0.5rem;
    color: black;
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#pvSearch {
    color: black;
    border-radius: 3px;
    max-width: 26rem;
    min-width: 19rem;
}
.pvSearchResults {
    background: white;
    padding: 0.5rem;
    color: black;
}
.pvSearchResult {
    color: black !important;
    margin-right: 0.5rem;
}
.pvSearchResults p {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem !important; 
}
#pvToolbarBottom {
    background: white;
    padding: 0.2rem;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}
.thumbsView{
    overflow-x: hidden !important;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}
#pvSearchReset {
    display: none;
}
.pv-help-icon {
    margin-right: 0.4rem;
    margin-left: 3px;
}
.text-aligned {
    display: flex;
    align-items: center;
}
#download-help {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
    /*border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;*/
} 
#pv-images-info {
    margin-bottom: 0.6rem !important;
}
#dl-menu {
    display: inline-flex !important;
    margin-bottom: 0.6rem !important;
}
#pvSearchForm {
    display: inline;
}
#pvFullImage, #pvFullImageDownload, #pvDownloadSingle, #pvDownloadFull {
    padding: 0 !important;
    background: white;
    border: none;
}
#pvDownloadFull, #pvDownloadFull:hover{
    color: #155e66 !important
}
section[id$="gallery"] {
    border-top: 1px solid #dbdbdb !important;
}