/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-template-areas: "main" "footer";
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 8rem; */
}
main {
    grid-area: main;
}
nav.topbar {
    padding: 1rem 0.5rem !important;
}
.floatnav nav {    
    background-color: rgb(34 34 34 / 77%) !important;
    color: white !important;
    position: fixed;
    left:0;
    right:0;
    z-index:10000;
}
.floatnav nav a {
    color: white;
}
.home-search-wrap {
    position: absolute;
    top: 44vh;
    width:99vw;
}
.home-search {
    background-color: rgba(34, 34, 34, .65) !important;
    width: fit-content !important;
    padding: 1.5rem;
    margin: auto;
}
.home-search {
    color: white !important;
}
.home-search form {
    margin-bottom: 0 !important;
}
.home-search input {
    min-width: 28rem !important;
    padding: 0.75rem !important;
}
.home-search svg {
    width: 2rem !important;
    height: 2rem !important;
}
/*.carousel.home-main-images {
    width: 85vw;
    height: 45vh;
    margin: auto;
}*/
.carousel-caption {
    padding: .5rem !important;
    margin-left: 1rem !important;
    background-color: rgba(34, 34, 34, .65) !important;
    width: fit-content !important;
    left: calc(100% - 30rem) !important;
    min-width: 410px;
}
.carousel-caption h5 {
    margin-bottom: 0 !important;
}
.banner-img {
    width: 99vw;
    height: 100vh;
}
.home-cards {
    width: 70rem;
    position: relative;
    margin: auto !important;
}
.home-cards .card {
    width: 33rem !important;
    margin-bottom: 1rem;
    min-height:585px;
}
.home-cards .card-img, .home-cards .card-img-top {
    height: 350px;
}
.home-cards .card-body p {
    height: 80px;
}
footer {
    grid-area: footer;
}
footer a {
    color: white !important;
}
.MuiTypography-body1, .MuiFormControlLabel-root {
    font-size: 0.8rem !important;
}
.dl-invert dt {
    text-align: left !important
}
.document-tools-btn {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:1rem;
    z-index: 11;
    text-align: right;
}
.text-lg-right {
    text-align: right !important;
}
.centerPanel > .title {
    display: none !important;
}
.mosaic-window-body{
    border: none;
    border-top: none;
}
.MuiToolbar-root {
    border-bottom: none;
}
.MuiPaper-elevation4 {
    box-shadow: none !important;
}
.mirador4 .mosaic-tile {
    box-shadow: none !important;
}
.MuiToolbar-dense {
    border-top: none !important;
    border-bottom: none !important;
}
.MuiPaper-elevation1 {
    box-shadow: none !important;
}
.mosaic-tile {
    margin: 0 !important;
}
.mosaic-root {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}
.MuiToolbar-root > .MuiTypography-root {
    visibility: hidden;
}
.mirador-companion-window-header > h3, .mirador-companion-window-header > button {
    display: none;
}
button[aria-label="Toggle sidebar"] {
    display: none;  
}
nav[aria-label="Window navigation"] div li[role="presentation"]{
    display:none;
}
.mv {
    border-radius: var(--bs-border-radius);
    border: 1px solid #e5e8eb;
}
.mosaic-window-body > section > div:nth-child(1) {
    /* display: inline;
    position: absolute;
    right: 0;
    padding: 0;
    top: 0;*/
    width: 100%;
    border-top: none;
    border-bottom: none !important;
    z-index: 50;
    height: 7.3rem;
    background: #fff;
}
.mirador-osd-info {
    display:none;
}
.mirador-window-top-bar {
    background-color: #fff !important;
}
.mosaic-window-body > section > div:nth-child(1) button { 
    padding: 5px 10px !important;
    border-radius: var(--bs-border-radius) !important;
}
.mirador-thumb-navigation {
    border-left: none !important;
    border-top: none !important;
    background: #fff !important;
}
.mirador-osd-container > .openseadragon-container > .openseadragon-canvas {
    /*margin-top: 130px !important;
    height: 84% !important;*/
}
.openseadragon-canvas {
    outline: none !important;
}
.mirador-osd-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mirador-canvas-nav { 
    height: 4rem!important;
    min-height: 50px !important;
    background: #fff !important;
    border: none !important;
    width: fit-content !important;
    background-color: transparent !important;
    left: 19.5rem !important;
    z-index: 10 !important;
    color: #666 !important;
    position: absolute !important;
    top: 3.4rem !important;
}
.mirador-osd-info {
    width:fit-content !important;
    margin-left: 5px !important;
}
.mirador-canvas-label {
    display: none !important;
}
.mirador39 { /* side panel toggle button */
    margin-top: 1px !important;
    padding-top: 0px !important;
    border: none !important
}
.mirador6 {/* canvas thumbnail list */
    height: 94% !important;
    align-self: flex-end !important;
}
.mirador41 { /*side panel item wrapper */
    border-bottom: none !important;
}
.mirador92, .mirador92 button { /*zoom buttons*/
    z-index: 9000000000 !important;
}
.MuiDrawer-paperAnchorDockedLeft { /* left-sidemost navbar */
    display: none !important;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background-color: rgb(151 151 151 / 8%) !important
}
.MuiIconButton-root, .MuiSvgIcon-root {
    color: #666 !important;
}
.MuiSvgIcon-colorSecondary {
    color:#155e66 !important;
}
.MuiIconButton-label span, .MuiIconButton-label label, .MuiFormControlLabel-label, .css-19bb58m {
    color: #666 !important;
}
.mirador21 {
    color: #155e66 !important;
}
.mirador-canvas-nav+div { /*image tools*/
    top: 0.8rem !important;
    z-index: 10 !important;
}
.MuiTypography-subtitle2 {
    font-size: 1rem !important;
}
.mirador-osd-container > .openseadragon-container > .openseadragon-canvas+div{
    left: 7px !important;
    top: 0.8rem !important;
    z-index: 10 !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 25px !important;
    padding: 10px !important;
}
.mirador-osd-container {
   border-top: none;
}
div[title="Zoom in"] {
    margin-right: 5px !important;
    cursor: pointer !important;
}
div[title="Zoom out"] {
    margin-right: 5px !important;
    cursor: pointer !important;
}
div[title="Go home"] {
    margin-right: 5px !important;
    cursor: pointer !important;
}
div[title="Toggle full page"] {
    display: none !important;
}
button[aria-label="Window options"] {
    display: none !important;
}
.mirador-osd-navigation {
    display: none;
}
.mirador-osd-navigation-custom > button {
    padding: 2px !important;
    border-radius: 0;
}
.mirador-osd-navigation-custom > button svg {
    width: 1.3em !important;
    height: 1.3em !important;
}
.mirador-first-canvas-button {
    margin-left: 0.5rem !important;
}
.mirador-last-canvas-button {
    margin-right:0.5rem !important;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, 0px) scale(0.75) !important;
}
#page-viewer {
    background: #fff;
}
#pvSearch, .autocompleteText {
    padding: 0.25rem 0.5rem !important;
    border-radius: var(--bs-border-radius) 0px 0px var(--bs-border-radius);
}
#item-search-submit {
    border-radius: 0px var(--bs-border-radius) var(--bs-border-radius) 0px !important;
}
#pvSearchForm {
    padding: 0.5rem;
}
#pvSearch { 
    /*max-width: 26rem;*/
    min-width: 19rem;
    font-size: 0.82rem !important;
}
.mirador-osd-navigation-custom .nav-item {
    margin-left: 0 !important;
}
.mirador-osd-navigation-custom .nav-pills .nav-link {
    padding: 6px !important;
}
.MuiPopover-paper .MuiListItem-gutters {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.pvSearchResults {
    background: #fff;
    padding: 0.5rem;
    color: black;
}
.pvSearchResult {
    color: black !important;
    margin-right: 0.5rem;
}
.pvSearchResults p {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem !important; 
}
#pvToolbarBottom {
    background: #fff;
    padding: 0.2rem;
    border-left: none;
    border-right: none;
    border-top: none;
}
.thumbsView{
    overflow-x: hidden !important;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}
#pvSearchReset {
    display: none;
}
.pv-help-icon {
    margin-right: 0.4rem;
    margin-left: 3px;
}
.text-aligned {
    display: flex;
    align-items: center;
}
#download-help {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
    /*border-left: none;
    border-right: none;*/
} 
#pv-images-info {
    margin-bottom: 0.6rem !important;
    width: fit-content !important;  
}
#dl-menu {
    display: inline-flex !important;
    margin-bottom: 0.6rem !important;
}
#pvSearchForm {
    display: inline;
}
#pvFullImage, #pvFullImageDownload, #pvDownloadSingle, #pvDownloadFull {
    padding: 0 !important;
    background: #fff;
    border: none;
}
#pvDownloadFull, #pvDownloadFull:hover{
    color: #155e66 !important
}
section[id$="gallery"] {
    border-top: none !important;
}
button[aria-label="Download options"] {
    border-radius: 0 !important;
}
button[aria-label="Expand image tools"]{
    border-radius: 25px !important;
}
div[title="Zoom in"], div[title="Zoom out"], div[title="Go home"] {
    border-radius: 50% !important;
    opacity: 0.65;
}
div[title="Zoom in"]:hover, div[title="Zoom out"]:hover, div[title="Go home"]:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}
.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.01) !important;
}
div[title="Zoom in"] img:nth-child(2), div[title="Zoom in"] img:nth-child(2), div[title="Zoom in"] img:nth-child(3) {
    display: none;
}
div[title="Zoom out"] img:nth-child(2), div[title="Zoom out"] img:nth-child(2), div[title="Zoom out"] img:nth-child(3) {
    display: none;
}
div[title="Go home"] img:nth-child(2), div[title="Go home"] img:nth-child(2), div[title="Go home"] img:nth-child(3) {
    display: none;
}
button[aria-label="Expand image tools"] * {
    cursor:pointer !important;
}
button[aria-label="Expand image tools"] span label {
    margin-left: 0.5rem;
}
button:disabled{
    color: #d6d6d6 !important;
}
button:disabled .MuiIconButton-root, button:disabled .MuiSvgIcon-root {
    color: #d6d6d6 !important;
}
.css-13cymwt-control {
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius);
}
.css-b62m3t-container {
    height: fit-content;
}
.MuiListItem-button {
    background-color: #fff !important;
    border-radius: var(--bs-border-radius) !important;
}
.MuiListItem-gutters {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0.5rem !important;
}
.css-1xc3v61-indicatorContainer {
    color: #666 !important;
}
.css-1dimb5e-singleValue {
    color: #666 !important;
    font-size: 0.8rem !important;
}
.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container-flex .card {
    margin-left:1rem;
    margin-bottom:1rem;
}
.card {
    width: 18rem;
}
#pvToolbarTop {
    width:100%;
    display: flex;
    padding-bottom: 0.5rem;
}
.fullscreen {
    bottom: 0;
    height: 85vh !important;
    min-height: 805px;;
}
.MuiAppBar-root {
    top:3.5rem;
}
.MuiCard-root {
    overflow: hidden;
    width: 15rem;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    border-top: 1px solid #ededed !important;
    border-radius: 0 !important;
}
.MuiCardMedia-root {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.card-section {
    max-height: 69vh;
    overflow: auto;
    padding: 0px 2px;
}
.card-pagination-wrapper { 
    margin-top: 0.5rem;
}
.legacy-search-menu {
    position: absolute;
    background: #fff;
    left: 0;
    top: 3.6rem;
    height: 3.5rem;
    right: 6rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.btn-icon svg {
    margin-right:0.5rem;
    width: 20px;
}
.btn-ghost {
    color: #4f4e4e !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.btn-ghost:hover {
    background: #0000001a !important;
}
.MuiButton-root {
    font-size: 0.8rem !important;
}
.MuiCardHeader-title {
    font-size: 0.8rem !important;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0.033em;
    color: #666;
}
.clickable {
    cursor: pointer !important;
}
.crumbs {
    margin-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.modal.show {
    z-index: 9999999999999;
}
.modal-backdrop {
    /*display: none;*/
}
#downloads-button {
    background: none;
    outline: none;
    border: none;
    margin-left: 0;
    color: #666666 !important;
}
.mv-menu-nav .nav-link {
    padding: 0 !important;
    margin-left: 0;
}
.mv-menu-nav .nav-item {
    margin: 0 !important;
} 
.card-section .nav-item { 
    margin-left: 0 !important;
}
.card-section .nav-link {
    margin-right: 1rem !important;
    margin-top: 0.5rem !important;
    padding: 0 !important;
    margin-left: 0 !important;
}
.nav-link:focus-visible {
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(58, 120, 174, 0.25) !important;
}
.MuiTouchRipple-child {
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(58, 120, 174, 0.25) !important;
    background: none !important;
    width: 100% !important;
    position: absolute !important;
}
button[title="Expand image tools"] .MuiTouchRipple-child {
    top: 2rem !important;
    height: 41% !important;
}
.MuiTouchRipple-root {
    overflow: visible !important;
}
#downloadsModal .mv-menu-nav {    
    width: 100%;
}
#downloadsModal .mv-menu-nav .nav-item {    
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}
a[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
.blacklight-collection_tsim_str .more_facets {
    display:none;
}
.facet-modal {
    position: fixed;
    top: 10%;
    right: 37rem;
    width: 55rem;
    max-width: 87rem;
}
.modal-frame {
    width: 100%;
}

div[data-blacklight-modal] .modal-footer {
    justify-content: flex-start;
}