@import "variables";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'blacklight_marc';


$logo-image: image_url('blacklight/canadiana-logo-light.jpg');
$logo-width: 225px;
$logo-height: 50px;
.navbar-logo {  /* The main logo image for the Blacklight instance */
    text-indent: inherit;
    width: fit-content;
    height: fit-content;
    margin-left: 0.5rem;
    color: black !important;
    background: orange;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}
.nav-image-wrap {
    display: inline-block;
    background: transparent url(/canadiana-logo-light.jpg) no-repeat top left !important;
    background-size: 225px 50px !important;
    height: 50px;
    width: 225px;
}
.floatnav .nav-image-wrap {  
    background: transparent url(/canadiana-logo-white.png) no-repeat top left !important;
    background-size: 225px 50px !important;
}
#main-container{
    overflow-x: hidden;
}

.mirador-mosaic {
    background-color: white !important;
}
@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 85vw !important
    }
}
.nav-item {
    margin-left: 1rem;
}
.navbar-light.bg-light {
    background: white !important;
}
.row {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top:  0 !important;
    margin-right:  0 !important;
    margin-left:  0 !important;
}
#appliedParams {
    padding: 0 0.5rem !important;
}
@media (min-width: 995px) {
.results-main {
    display: grid;
    grid-template: 
            "a b b b" 1fr;
}
.sidenav {
    min-height: 70vh;
}
}
@media(max-width: 995px){
    .facets-header {
        display: block !important;
    }
}
.constraint, .catalog_startOverLink, .catalog_startOverLink:hover, .constraint-value, .constraint-value:hover, .constraint-value:active, .constraint-value:focus, .catalog_startOverLink:active{
    color: #212529 !important;
    background-color: #f8f9fa !important;;
    border-color: #f8f9fa !important;;
}
.constraint-value, .constraint .btn {
    border: none !important;
}
.catalog_startOverLink:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.catalog_startOverLink:active, .catalog_startOverLink:active:focus {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}
.citation-page {
    min-height:80vh;
}
.matching-image-label {
    margin-right:0.5rem;
    color: var(--bs-secondary-color);
}
.pv-go-to-index {
    color: #212529 !important;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
    padding: 0.5rem 1rem;
} 
.page-search-res-wrap {
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}