
<% content_for(:content) do %>
  <section>
    <div class="container-xxl">
      <%= content_for(:sidebar) %>
      <%= yield %>
    </div>
  </section>
<% end %>
<%= render template: "layouts/blacklight/base" %>
