
<% content_for(:container_header) do -%>
  <%= render partial: 'shared/header_navbar' %>
<% end %>
<% content_for(:content) do %>
  <section>
    <%= yield %>
  </section>
<% end %>
<%= render template: "layouts/blacklight/base" %>
<%= render partial: 'shared/footer' %>
