
<% content_for(:content) do %>
  <section>
    <div class="container-xxl">
        <%= content_for(:sidebar) %>
    </div>
    <%= yield %>
  </section>
<% end %>
<%= render template: "layouts/blacklight/base" %>
